@page
@model AddProductModel

<div class="d-flex justify-content-end">
    <a asp-page="Products" class="btn btn-secondary">Volver</a>
</div>

<h2>Add Product</h2>
<form method="post">
    <div class="form-group mt-3">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="ProductPost.Name" required />
    </div>
    <div class="form-group mt-3">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="ProductPost.Price" required step="0.01" />
    </div>
    <div class="form-group mt-3">
        <label for="productType">Product Type</label>
        <select class="form-control" asp-for="ProductPost.TypeId">
            @foreach (var productType in Model.ProductTypes)
            {
                <option value="@productType.Id">@productType.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Save</button>
</form>
